@model IEnumerable<Turnos.Models.EspecialidadModel>

@{
    ViewData["Title"] = "Listado";
}
<partial name="~/Views/Shared/_ValidateSession.cshtml" />
<h3 class="div-center">Listado de Especialidades</h3>

@if (TempData["mensaje"] != null)
{
    <div class="alert card @TempData["status"]">
        <div class="card-content">
            <p><i class="material-icons">check_circle</i><span>@TempData["mensaje"]</span></p>
        </div>
    </div>
}
<p>
    <a class="btn-floating btn-large green darken-1" asp-action="Create"><i class="material-icons">person_add</i></a>
</p>

<table class="responsive-table highlight z-depth-3 orange lighten-5">
    <thead class="orange lighten-1 white-text">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => item.Descripcion) </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecialidad"><i class="material-icons">edit</i></a>
                    <a asp-action="Delete" asp-route-id="@item.IdEspecialidad"><i class="material-icons red-text">delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

