@model Turnos.Models.MedicoModel

@{
    ViewData["Title"] = "Eliminar";
}
<partial name="~/Views/Shared/_ValidateSession.cshtml" />
<h4>Está usted seguro de eliminar el siguiente Médico?</h4>
<div>
    <h5>Médico</h5>
    <div class="divider grey darken-2" tabindex="-1"></div>
    <div class="row">
        <div class="col s12 m6 l6 ">
            <div class="card hoverable blue darken-1 div-center">
                <div class="card-content white-text">
                    <h5><span class="card-title"><b>@Html.DisplayFor(model => model.Nombre), @Html.DisplayFor(model => model.Apellido)</b></span></h5>
                    <div class="divider" tabindex="-1"></div>
                    <p class="pb-5">
                        <b>@Html.DisplayNameFor(model => model.Direccion)</b> : @Html.DisplayFor(model => model.Direccion)
                    </p>
                    <p class="pb-5">
                        <b>@Html.DisplayNameFor(model => model.Telefono)</b> : @Html.DisplayFor(model => model.Telefono)
                    </p>
                    <p class="pb-5">
                        <b>@Html.DisplayNameFor(model => model.Email)</b> :  @Html.DisplayFor(model => model.Email)
                    </p>
                    <p class="pb-5">
                        <b>@Html.DisplayNameFor(model => model.HorarioAtencionDesde)</b> : @Html.DisplayFor(model => model.HorarioAtencionDesde)
                    </p>
                    <p class="pb-5">
                        <b>@Html.DisplayNameFor(model => model.HorarioAtencionHasta)</b> : @Html.DisplayFor(model => model.HorarioAtencionHasta)
                    </p>
                </div>
                <div class="card-action blue-grey darken-2">
                    <form asp-action="Delete">

                        <div class="btn-center">
                            <input type="hidden" asp-for="IdMedico" />
                            <input type="submit" value="Eliminar" class="waves-effect waves-light btn-small  deep-orange darken-4">
                            <a asp-action="Index">Volver al Listado</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
